{%- if block.settings.logo -%}
  {%- style -%}
    .footer__logo a {
      height: {{ block.settings.desktop_logo_height }}px;
    }
  {%- endstyle -%}
  <div class="footer__logo">
    <a href="{{ routes.root_url }}" aria-label="Url To Homepage">
      {%- assign width = block.settings.desktop_logo_height | times: block.settings.logo.aspect_ratio | times: 2 -%}
      {%- assign height = block.settings.desktop_logo_height -%}
      {%- capture sizes -%}{{ block.settings.desktop_logo_height | times: block.settings.logo.aspect_ratio }}px{%- endcapture -%}
      {%- capture widths -%}{{ block.settings.desktop_logo_height | times: block.settings.logo.aspect_ratio }}, {{ block.settings.desktop_logo_height | times: block.settings.logo.aspect_ratio | times: 2 }}{%- endcapture -%}
      {%- capture style -%}max-width: {{ block.settings.desktop_logo_height | times: block.settings.logo.aspect_ratio }}px;max-height: {{ block.settings.desktop_logo_height }}px;{%- endcapture -%}

      {%- render 'image-element',
        img: block.settings.logo,
        img_width: width,
        img_height: height,
        sizes: sizes,
        widths: widths,
        style: style,
        alt: block.settings.logo.alt | default: shop.name,
      -%}
    </a>
  </div>
  <div class="footer-contact-info">
    <!-- <a class="custom-footer-email" href="mailto:{{ section.settings.footer_email }}"><i class="fas fa-envelope"></i> {{ section.settings.footer_email }}</a><br> -->
    <a class="custom-footer-phone" href="tel:{{ section.settings.footer_phone }}"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 512 512" fill="currentColor" style="vertical-align:-1px"><path d="M497.39 361.8l-112-48a24 24 0 00-28 6.9l-49.6 60.6A370.66 370.66 0 01130.6 204.11l60.6-49.6a23.94 23.94 0 006.9-28l-48-112A24.16 24.16 0 00122.6.61l-104 24A24 24 0 000 48c0 256.5 207.9 464 464 464a24 24 0 0023.4-18.6l24-104a24.29 24.29 0 00-14.01-27.6z"/></svg> {{ section.settings.footer_phone }}</a>
  </div>
  <div class="custom-footer-social">
    {% render 'social-icons', additional_classes: 'footer__social' %}
  </div>
  <!-- <div class="footer-contact-button">
    <a class="custom-contact-button" href="{{ section.settings.footer_button }}">Send Us A Message</a>
  </div> -->
  
{%- endif -%}



